.project_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color :rgb(0, 0, 0);
    padding: 20px;
}

.project_wrapper p{
  max-width: 700px ;
}

.project_links{
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.website{
  margin-right: 10px;
}

.web-img, .git-img{
  aspect-ratio: 1/1;
  width: 50px;
  transition: transform 0.5s ease;
}

.web-img:hover, .git-img:hover{
  transform: scale(1.1);
}

img{
  aspect-ratio: 1/1;
  width: 100px;
}