{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'blog/images/duck.png' %}" >
        <link rel="stylesheet" href="{% static 'global.css' %}">
        <title>{% block title %}Welcome{% endblock title %}</title>
        {% block css_files %}
        {% endblock css_files %}
        
        {% block meta %}
        {% endblock meta %}
    </head>
    
    <body>
      <!-- main bar -->
        <div class="main-bar">
            <div class="picture">
              <img class="profile-pic"src="{{ coverletter.picture }}" alt="Profile Picture"></div>
            
                <div class="name">
                    <a class="name" href="{% url 'homepage' %}">Merlijn van der Meer</a>
                </div>
          
                
                   <div class="socials">
                    <a href="mailto:merlijnvdmeer@gmail.com"><img class="insta"  src="{% static "blog/images/letter.png" %}" alt="Instagram"></a>
                    <a href="http://www.linkedin.com/in/merlijn-wolters-0b3450140" target="_blank"><img class="linked" src="{% static "blog/images/Linked_two.png" %}" alt="LinkedIn"></a>
                    <a class="github" href="https://github.com/Fortun3cooki3" target="_blank"><img class="git-img" src="{% static "blog/images/github.png" %}" alt="github"></a>
                   </div>
                 
  
                
             
            </div>
        </div>
        <!-- main content -->
        {% block body %}
        
        {% endblock body %}
        
    </body>
</html>